<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>JSHint</title> 
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<style>
		{{{style}}}
		</style>
		<script type="text/javascript">
			var jump_to_first_problem = function() {
				var link = document.body.querySelector("ul.problems a.problem:nth-of-type(1)");
				if (link === null)
					return;
				window.location = link.href;
			}
		</script>

		<script type="text/javascript">
			$(document).ready(function() {
				$(document).on("click", "#close_errorinfo", function(e) {
					$("div.errorinfo").remove();
				});
				
				$("span.errorcode").on("click", function(e) {
					// get code
					var code = $(this).data("errorcode");
						
					if (code) {
						if ($("div.errorinfo[data-errorcode="+code+"]").length >= 1) {
							$("div.errorinfo").remove();
						}
						else
						{
							var codelink = $(this);
							$("div.errorinfo").remove();
							$.ajax({
								url: "http://api.jslinterrors.com/explain",
								data: { m: code, format: "html" },
								success: function(data) {
									var author = (data.author && data.author.name) ? data.author.name : ""; 
									var sitelink = data.link; 
									var body = '<div class="errorinfo" data-errorcode="' + code + '">' + 
										'<div class="errorinfo_header">' + 
											'<button id="close_errorinfo">Close Explanation</button>' + 
											(data.link ? '<a class="sitelink" target="_blank" href="'+data.link+'">Article from  ' + (author ? author+" / " : "") + 'jslinterrors.com</a>' : '') + 
										'</div>' + 
										data.explanation + '</div>'
									codelink.closest(".probrow").after(body);
									$(".errorinfo a").attr("target", "_blank");
								},
								dataType: 'json'
							});
						};
					}
				});
			});
		</script>
	</head>
	<body onload="jump_to_first_problem();">
		<header>
			<div class="summary">
				<a class="problem" href="txmt://open?url=file://{{config.targetFile}}" title="Open target file">
				{{#if numErrors}}
				JSHint found {{numErrors}} problems
				{{else}}
				Lint-free!
				{{/if}}
				</a>
				<a href="https://github.com/bodnaristvan/JSHint.tmbundle" target="_blank" class="info" title="About JSHint.tmbundle">info</a>
			</div>
			<div class="additional">
				<a href="txmt://open?url=file://{{config.configFile}}" title="Open config file">{{config.configFile}}</a>
			</div>
		</header>

		{{#if numErrors}}
			<ul class="problems">
				{{#each errors}}
					{{#each this}}
						<li>
							<div class="probrow">
								<a class="problem" href="txmt://open?url=file://{{file}}&line={{line}}&column={{column}}">
									<span class="errorcode" data-errorcode="{{code}}">{{code}}</span>
									<span class="location">(line {{line}}, col {{column}})</span>
									<span class="desc">{{message}}</span>
									<pre><code>{{evidence}}</code></pre>
								</a>
							</div>
						</li>
					{{/each}}
				{{/each}}
			</ul>
		{{else}}
			<div class="results-success">
				Lint-free!
			</div>
		{{/if}}
	</body>
</html>
